<form [formGroup]="forma" (submit)="login()">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput type="text" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password" required>
    </mat-form-field>
  </div>
  <div>
    <button type="submit" mat-raised-button color="primary">Login</button>
  </div>
</form>